@charset "UTF-8";

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  .bg-image {
    background: linear-gradient(to right, #1e3c72, #2a5298, rgb(102, 74, 146));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .card {
    border-radius: 10px;
  }
  .card a {
    color: #007bff;
  }
  .card a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  .is-invalid {
    border-color: #dc3545;
  }